body {
    background-image: url(Images/hallo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

video {
    size: cover;
    mask-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
}

.container {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    font-size: 20px;
    line-height: 1.8;
    color: #f8f8ff;
    text-shadow: 0 0 5px rgba(186, 85, 211, 0.7),
        0 0 15px rgba(135, 206, 250, 0.5);
    border-radius: 15px;
}

#clock {
    font-size: 2em;
    margin: 10px 0;
}

button {
    margin-top: 15px;
    padding: 6px 16px;
    cursor: pointer;
}

button {
    margin-top: 15px;
    padding: 10px 24px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #3F9AAE, #FDACAC););
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
